
.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color:#F6F6F6;
  padding-bottom: 26px;
  padding-top: 46px;
}

.about-me__heading {
  text-align: center;
}

.about-me__caption {
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  box-sizing: border-box;
  width: 316px;
  margin: 0 auto;
  margin-bottom: 50px;
}

@media (min-width: 1200px) {

  .about-me {
    padding-top: 86px;
  }

}