
.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer__heading {
  margin-top: 80px;
  margin-bottom: 0;
  font-size: 34px;
  font-weight: bold;
}

.footer__description {
  margin-top: 27px;
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
}

.footer__button {
  margin:50px auto;
  width: 316px;
  height: 42px;
  background-color: #000000;
  border: none;
  border-radius: 25px;
  color: #FFFFFF;
  font-size: 18px;
}

.footer__button:hover {
  cursor: pointer;
}

.footer_links {
  width: 316px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 50px;
}

.footer__wrapper-bottom {
  margin-bottom: 85px;
}

.footer__description-link {
  margin: 0;
  margin-bottom: 5px;
  color: #828282;

}

@media (min-width: 1200px) { 
  .footer__button {
    margin-bottom: 85px;
  }

  .footer__button {
    width: 180px;
  }
}