
.header {
  display: flex;
  flex-direction: column;
}

.header_wrapper-top {
  display: flex;
  flex-direction: column;
}

.header__wrapper-description {
  margin-top: 23px;
}

.header__logo-text {
  font-weight: bold;
  font-size: 47px;
  line-height: 58px;
}

@media (min-width: 1200px) {

  .header {
    order: 3;
    flex-direction: row;
    margin-bottom: 50px;
  }

  .header__wrapper-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 auto;
    position: relative;
    left: -90px;
  }

  .header_wrapper-top {
    margin-top: 40px;
  }

  .header__caption {
    margin-bottom: 0;
    
  }

}
