
.nav__button {
  background-color: #fff;
  padding: 0;
  border: 0;
  width: 35px;
  height: 30px;
}

.nav__button:hover {
  cursor: pointer;
}

.nav__image {
  width: 35px;
  height: 30px;
}

@media (min-width: 768px) {

  .nav {
    order: 1;
    text-align: center;
  }

  

}