
.top-block__wrapper {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 86px;
}

.top-block__image-wrapper {
  background-image: url('../image/Group\ 2.1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  margin: 0 auto;
 
  width: 316px;
  height: 478px;
}

@media (min-width: 1200px) {

  .top-block__image-wrapper {
    background-image: url('../image/Group\ 2.1\ retina.png');
    width: 943px;
    height: 387px;
  }

}