
.top-block__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 86px;
}

.top-block__wrapper-top {
  padding: 0;
  margin: 26px;
  margin-top: 0;
}

.top-block__image-wrapper {
  display: flex;
  justify-content: center;
}