
@import 'header';
@import 'nav';
@import 'top-block';
@import 'about-me';
@import 'skils-list';
@import 'portfolio-list';
@import 'footer';

@font-face {

  font-family: 'робото';
  font-display: swap;
  src: url('../fonts/Roboto/Roboto-Light.ttf'), 
      url('../fonts/Roboto/Roboto-Regular.ttf'), 
      url('../fonts/Roboto/Roboto-Bold.ttf');
  font-weight: lighter, normal, bold;
  font-style: normal;

}

.wrapper {
  font-family: 'робото', sans-serif;
  font-weight: normal;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.wrapper__header-nav {
  margin: 26px;
  margin-top: 65px;
  width: auto;
  
}

.wrapper__header-nav2 {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 316px;
}

.wrapper__line {
  display: none;
}

@media (min-width: 1200px) {

  .wrapper__header-nav2 {
    justify-content: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 943px;
    margin: 0 auto;
  }

  .wrapper__header-nav {
    display: block;
    margin: 0;
  }

  .wrapper__line {
    order: 2;
    display: block;
  }

}